{% extends 'base.html' %}

{% block container %}
<!-- Sidebar -->
    <section id="sidebar">
        <div class="inner">
            <nav>
                <ul>
                    <li><a href="#intro">Introduction</a></li>
                    <li><a href="#research">Research</a></li>
                    <li><a href="#cv">CV</a></li>
                    <li><a href="#get in touch">Get in touch</a></li>
                </ul>
            </nav>
        </div>
    </section>

<!-- Wrapper -->
    <div id="wrapper">

        <!-- Intro -->
            <section id="intro" class="wrapper style1 fullscreen fade-up">
                <div class="inner">
                    <h1>Victoria Neises, PhD</h1>
                    <h2>Marine Mammal Physiologist and Quantitative Ecologist</h2>
                    <p>
                        I am a marine mammal physiologist that uses quantitative analysis to study
                        energetics and nutrition in order to characterize and assess behavioral and
                        physiological impacts and limitations due to environmental change and
                        interactions.
                    </p>
                    <ul class="actions">
                        <li><a href="#research" class="button scrolly">See my research...</a></li>
                    </ul>
                </div>
            </section>

        <!-- Research -->
            <section id="research" class="wrapper style2 spotlights">
                <div class="inner">
                    <h2>Research</h2>
                    <p>
                        My research is focused on physiology, specifically metabolism and energetics. I
                        am particularly interested in how energetics limit the behavior of an organism,
                        and how organisms respond to physiological limitations caused by environmental
                        changes. In particular, my work has focused on Alaskan ecosystems and has
                        attempted to explore how changes in the prey field might be impacting pinniped
                        populations (seals and sea lions) on a physiological level.
                    </p>
                    <p>
                        To assess these types of questions I use various quantitative methods, including
                        nonparametric analysis, such as PERMANOVA, linear discriminant analysis
                        (LDA), and non-metric multidimensional scaling (NMDS), as well as regression
                        analyses like GLM, GAM, GLMM, and GAMM, and machine learning techniques
                        such as random forest analysis.
                    </p>
                    <p>
                        My research interests include nutritional and metabolic physiology, quantitative
                        ecology, and foraging behavior.
                    </p>
                </div>
                <section>
                    <a href="#" class="image"><img src="{{ url_for('static', filename='images/pic01.jpg') }}" alt="" data-position="center center" /></a>
                    <div class="content">
                        <div class="inner">
                            <h2>Respiratory Physiology</h2>
                            <p>
                                My Masters research was a collaboration with Moss Landing Marine Laboratories
                                examining how sea lions physiologically respond to increased foraging stress
                                caused by changes in their prey field. In this study we determined that while sea
                                lions are able to adjust their dive behavior to maintain foraging efficiency as the
                                cost of foraging increases, their ability to sequester accumulating carbon dioxide
                                diminishes. We proposed that carbon dioxide may be a more sensitive
                                physiological marker than oxygen when examining the metabolic cost of foraging.
                            </p>
                            <ul class="actions">
                                <li><a href="generic.html" class="button">Learn more</a></li>
                            </ul>
                        </div>
                    </div>
                </section>
                <section>
                    <a href="#" class="image"><img src="{{ url_for('static', filename='images/pic02.jpg') }}" alt="" data-position="top center" /></a>
                    <div class="content">
                        <div class="inner">
                            <h2>Energetics and Nutritional Physiology</h2>
                            <p>
                                My dissertation research was a collaboration with Alaska Department of Fish and
                                Game focused on the examination of blubber fatty acids of Alaskan harbor seals
                                and Steller sea lions and included two large multi-decadal data sets. With these
                                data sets I was able to investigate regional, seasonal, and age class differences
                                in blubber fatty acids of harbor seals, as well as examine the blubber fatty acids
                                of lactating harbor seals, and how they differ to non-lactating harbor seals and
                                other lactating phocids and otariids. I was also able to compare blubber fatty
                                acids of Alaskan harbor seal and Steller sea lions in the same regions during the
                                same spatial and temporal timeframes to determine if differences in foraging
                                strategies were reflected in their blubber fatty acid profiles. Because both
                                mammal species are resident species to the areas they inhabit and are easier to
                                study than fish or invertebrate species in the area due to their size, they are seen
                                as health indicators for the ecosystems they inhabit. Understanding how their diet
                                is changing gives management agencies insight into how the fish and
                                invertebrate communities are changing, providing an indirect way to measure
                                ecosystem health.
                            </p>
                            <ul class="actions">
                                <li><a href="generic.html" class="button">Learn more</a></li>
                            </ul>
                        </div>
                    </div>
                </section>
                <section>
                    <a href="#" class="image"><img src="{{ url_for('static', filename='images/pic03.jpg') }}" alt="" data-position="25% 25%" /></a>
                    <div class="content">
                        <div class="inner">
                            <h2>Ultricies aliquam</h2>
                            <p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus.</p>
                            <ul class="actions">
                                <li><a href="generic.html" class="button">Learn more</a></li>
                            </ul>
                        </div>
                    </div>
                </section>
            </section>

        <!-- CV -->
            <section id="cv" class="wrapper style3 fade-up">
                <div class="inner">
                    <h2>What we do</h2>
                    <p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus, lacus eget hendrerit bibendum, urna est aliquam sem, sit amet imperdiet est velit quis lorem.</p>
                    <div class="features">
                        <section>
                            <span class="icon solid major fa-brands fa-r-project"></span>
                            <h3>R</h3>
                            <p>
                                Data visualization, multivariate statistics, discriminant analysis (LDA),
                                gradient analysis (NMDS), mixed effects modeling (GLM, GAM, GLMM,
                                GAMM)
                            </p>
                        </section>
                        <section>
                            <span class="icon solid major fa-globe"></span>
                            <h3>QGIS</h3>
                            <p>Spatial analysis, integrating R and QGIS for spatial modeling</p>
                        </section>
                        <section>
                            <span class="icon solid major fa-chart-line"></span>
                            <h3>SPSS</h3>
                            <p>Univariate and multivariate statistics</p>
                        </section>
                        <section>
                            <span class="icon solid major fa-brands fa-python"></span>
                            <h3>Python</h3>
                            <p>Data cleanup and integration</p>
                        </section>
                        <section>
                            <span class="icon solid major fa-link"></span>
                            <h3>Urna quis bibendum</h3>
                            <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
                        </section>
                        <section>
                            <span class="icon major fa-gem"></span>
                            <h3>Urna quis bibendum</h3>
                            <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
                        </section>
                    </div>
                    <ul class="actions">
                        <li><a href="generic.html" class="button">Learn more</a></li>
                    </ul>
                </div>
            </section>

        <!-- Get in touch -->
            <section id="get in touch" class="wrapper style1 fade-up">
                <div class="inner">
                    <h2>Get in touch</h2>
                    <p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus, lacus eget hendrerit bibendum, urna est aliquam sem, sit amet imperdiet est velit quis lorem.</p>
                    <div class="split style1">
                        <section>
                            <form method="post" action="#">
                                <div class="fields">
                                    <div class="field half">
                                        <label for="name">Name</label>
                                        <input type="text" name="name" id="name" />
                                    </div>
                                    <div class="field half">
                                        <label for="email">Email</label>
                                        <input type="text" name="email" id="email" />
                                    </div>
                                    <div class="field">
                                        <label for="message">Message</label>
                                        <textarea name="message" id="message" rows="5"></textarea>
                                    </div>
                                </div>
                                <ul class="actions">
                                    <li><a href="" class="button submit">Send Message</a></li>
                                </ul>
                            </form>
                        </section>
                        <section>
                            <ul class="contact">
                                <li>
                                    <h3>Social</h3>
                                    <ul class="icons">
                                        <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                                        <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                                        <li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
                                        <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                                        <li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </section>
                    </div>
                </div>
            </section>

    </div>
{% endblock %}