{% extends 'base.html' %}

{% block container %}
<!-- Sidebar -->
    <section id="sidebar">
        <div class="inner">
            <nav>
                <ul>
                    <li><a href="#intro">Introduction</a></li>
                    <li><a href="#research">Research</a></li>
                    <li><a href="#cv">CV</a></li>
                    <li><a href="#get in touch">Get in touch</a></li>
                </ul>
            </nav>
        </div>
    </section>

<!-- Wrapper -->
    <div id="wrapper">

        <!-- Intro -->
            <section id="intro" class="wrapper style1 fullscreen fade-up">
                <div class="inner">
                    <img src="static/images/profile.jpg" alt="" style="border-radius: 100%;">
                    <h1>Victoria M. Neises, Ph.D.</h1>
                    <h2>Animal Physiologist and Quantitative Ecologist</h2>
                    <p>
                        Much of my research focuses on how the physiology of an organism changes and adapts to changes in its environment. 
                        My research interests include nutritional and metabolic physiology, quantitative ecology, and foraging behavior. 
                    </p>
                    <ul class="actions">
                        <li><a href="#research" class="button scrolly">See my research...</a></li>
                    </ul>
                </div>
            </section>

        <!-- Research -->
            <section id="research" class="wrapper style2 spotlights">
                <div class="inner">
                    <h2>Research</h2>
                    <p>
                        To date, my work has focused on marine mammals in Alaskan ecosystems and has
                        attempted to explore how changes in the prey field might be impacting pinniped (seals and sea lions)
                        populations from both a metabolic perspective, as well as a nutritional and digestive standpoint.
                    </p>
                    <p>
                        To assess these types of questions I use a variety of quantitative methods, including
                        nonparametric analysis, such as PERMANOVA, linear discriminant analysis
                        (LDA), and non-metric multidimensional scaling (NMDS), as well as regression
                        analyses like GLM, GAM, GLMM, and GAMM, as well as machine learning techniques
                        such as random forest analysis.
                    </p>
                </div>
                <section>
                    <div class="content">
                        <div class="inner">
                            <h2>Nutritional Physiology</h2>
                            <p>
                                My work in nutritional physiology focuses on the examination of blubber fatty acid profiles of Alaskan harbor seals
                                and Steller sea lions. Because blubber fatty acids are largely derived from diet in these animals,
                                we are able to use them as a proxy for diet and examine how they differ and change
                                over time. In this study, I was able to use two large large multi-decadal data sets to examine spatial and temporal 
                                differences in blubber fatty acid profiles of Alaskan harbor seal populations, examine blubber
                                fatty acid profiles among pregnant and lactating harbor seals, and mother pup pairs, and lastly, 
                                compare regional and seasonal blubber fatty acid profiles of Alaskan harbor seals and Steller sea 
                                lions to examine the degree of niche partitioning within those regions. 
                                Because both mammal species are resident species to the areas they inhabit and are easier to
                                study than fish or invertebrate species in the area due to their size, they are seen
                                as health indicators for the ecosystems they inhabit. Understanding how their diet
                                is changing gives management agencies insight into how the fish and
                                invertebrate communities are changing, providing an indirect way to measure
                                ecosystem health. This project was a collaboration between Baylor University and Alaska Department of ish
                                and Game.
                            </p> 
                            <em>
                                Photo by <a href="https://unsplash.com/es/@hewiphoto?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">J Dean</a> on <a href="https://unsplash.com/s/photos/seal?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
                            </em>
                            <ul class="actions">
                                <li><a href="https://www.dropbox.com/sh/ttkehgw0tn7v7pe/AABOlNm9tMfIm-hCp-gi6djna?dl=0" class="button">SMM 2022 Poster</a></li>
                            </ul>
                            
                        </div>
                    </div>
                    <a href="#" class="image"><img src="{{ url_for('static', filename='images/j-dean-xNJGO5fyOsk-unsplash.jpg') }}" alt="" data-position="center center" /></a>
                </section>
                <section>
                    <a href="#" class="image"><img src="{{ url_for('static', filename='images/554406_10100358566601697_99061861_n.jpg') }}" alt="" data-position="right center" /></a>
                    <div class="content">
                        <div class="inner">
                            <h2>Respiratory Physiology</h2>
                            <p>
                                My work in respiratory physiology focused on how sea lions physiologically respond to increased foraging stress
                                caused by changes in their prey field. In this study we determined that while sea
                                lions are able to adjust their dive behavior to maintain foraging efficiency as the
                                cost of foraging increases, their ability to sequester accumulating carbon dioxide
                                diminishes. We proposed that carbon dioxide may be a more sensitive
                                physiological marker than oxygen when examining the metabolic cost of foraging. This project was a 
                                collaboration between Alaska Pacific University and <a href="https://animaltraining.us/physiology/">Moss Landing Marine Laboratories</a>.
                            </p>
                            <ul class="actions">
                                <li><a href="https://doi.org/10.1016/j.jembe.2016.11.001" class="button">Publication</a></li>
                            </ul>
                        </div>
                    </div>
                </section>
                <!--section>
                    <a href="#" class="image"><img src="{{ url_for('static', filename='images/pic03.jpg') }}" alt="" data-position="25% 25%" /></a>
                    <div class="content">
                        <div class="inner">
                            <h2>Ultricies aliquam</h2>
                            <p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus.</p>
                            <ul class="actions">
                                <li><a href="generic.html" class="button">Learn more</a></li>
                            </ul>
                        </div>
                    </div>
                </section-->
            </section>

        <!-- CV -->
            <section id="cv" class="wrapper style3 fade-up">
                <div class="inner">
                    <h2>CV</h2>
                    <p>
                        Animal physiologist specializing in nutritional and metabolic physiology of marine mammals. 
                        Has knowledge in many aspects of marine systems, including physiological, chemical, and climatological 
                        influences on marine mammals and fishes along the Pacific coast. Familiar with federal laws and 
                        regulations including Marine Mammal Protection Act, the Endangered Species Act, and the National 
                        Environmental Policy Act, to name a few. Able to manage and analyze large data sets utilizing both 
                        univariate and multivariate parametric and non-parametric statistical tests, as well as communicate and 
                        promote findings in reports, published manuscripts, and presentations. 
                    </p>
                    <div class="features">
                        <section>
                            <span class="icon major brands fa-r-project"></span>
                            <h3>R</h3>
                            <p>
                                Principal component analysis, Linear discriminant analysis,
                                Random forest analysis, Non-metric multidimensional
                                scaling, General linear modeling, General additive modeling,
                                PERMANOVA, Parametric univariate and multivariate analyses
                            </p>
                        </section>
                        <section>
                            <span class="icon solid major fa fa-globe"></span>
                            <h3>QGIS/ArcGIS</h3>
                            <p>Spatial analysis, integrating R and QGIS for spatial modeling</p>
                        </section>
                        <section>
                            <span class="icon solid major fa fa-chart-line"></span>
                            <h3>SPSS</h3>
                            <p>Univariate and multivariate statistics, Data exploration, Data descriptives</p>
                        </section>
                        <section>
                            <span class="icon major brands fa-python"></span>
                            <h3>Python</h3>
                            <p>Data cleanup and integration, File manipulation</p>
                        </section>
                        <!--section>
                            <span class="icon solid major fa fa-link"></span>
                            <h3>Urna quis bibendum</h3>
                            <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
                        </section-->
                        <!--section>
                            <span class="icon major fa fa-gem"></span>
                            <h3>Urna quis bibendum</h3>
                            <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
                        </section-->
                    </div>
                    <ul class="actions">
                        <li><a href="generic.html" class="button">Learn more</a></li>
                    </ul>
                </div>
            </section>

        <!-- Get in touch -->
            <section id="get in touch" class="wrapper style1 fade-up">
                <div class="inner">
                    <h2>Get in touch</h2>
                    <p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus, lacus eget hendrerit bibendum, urna est aliquam sem, sit amet imperdiet est velit quis lorem.</p>
                    <div class="split style1">
                        <section>
                            <form method="post" action="#">
                                <div class="fields">
                                    <div class="field half">
                                        <label for="name">Name</label>
                                        <input type="text" name="name" id="name" />
                                    </div>
                                    <div class="field half">
                                        <label for="email">Email</label>
                                        <input type="text" name="email" id="email" />
                                    </div>
                                    <div class="field">
                                        <label for="message">Message</label>
                                        <textarea name="message" id="message" rows="5"></textarea>
                                    </div>
                                </div>
                                <ul class="actions">
                                    <li><a href="" class="button submit">Send Message</a></li>
                                </ul>
                            </form>
                        </section>
                        <section>
                            <ul class="contact">
                                <li>
                                    <h3>Social</h3>
                                    <ul class="icons">
                                        <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                                        <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                                        <li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
                                        <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                                        <li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </section>
                    </div>
                </div>
            </section>

    </div>
{% endblock %}
